[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

args = "==0.1.0"
click = "==7.0"
colorama = "==0.4.3"
crayons = "==0.3.0"
pluggy = "==0.13.1"
py = "==1.8.1"
pypandoc = "==1.4"
tox = "*"


[dev-packages]



[requires]

python_version = "3.8"
